input[type="text"],
input[type="email"],
select,
textarea {
	background-color: $light-gray;
	color: $blue-gray;
	height: 3.25rem;
	line-height: 1.5;
	padding: 0 1rem;
	border-radius: 3px;
	border: 2px solid $light-gray;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

input[type="text"],
input[type="email"],
textarea {
	&:active,
	&:focus {
		border: 2px solid $blue-dark;
	}
}
label {
	color: $blue-gray;
	font-size: 1rem;
	margin-bottom:.5rem;

	input[type="text"],
	input[type="email"],
	input[type="radio"],
	select,
	textarea {
		margin-top: .5rem;
	}
}
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	option {
		color: $blue-gray;
	}
}

textarea {
	height: 10rem;
	line-height: 1.5em;
	padding: .75rem 1rem;
}

#contactForm {
	padding: 4rem 0;
	.button[type="submit"] {
		margin-top: 2rem;

		@include breakpoint(small only) {
			width: 100%;
		}
	}
}
.service-select {
	visibility: hidden;
	display: none;
	height: 0;
	margin: 0;

	+ label {
		background-color: $light-gray;
		display: block;
		padding: 1.5rem 1rem;
		margin: 0 0 1rem 0;
		border-radius: 3px;
		text-align: center;
		border: 2px solid $light-gray;

		&:hover {
			background-color: darken($light-gray, 10%);
			border-color: darken($light-gray, 10%);
		}

		img, span {
			opacity: .5;
		}

		img {
			margin-bottom: 1.25rem;
		}
		span {
			display: block;
			line-height: 1;
		}
	}

	&:checked {
		+ label {
			background-color: $white;
			border: 2px solid $orange;

			&:hover {
				background-color: $white !important;
				border-color: $orange;
			}

			img, span {
				opacity: 1;
			}
			span {
				color: $orange;
			}
		}
	}
}
.contact-info {
	background-color: $light-gray;
	padding: 4rem 0;

	h4 {
		margin-bottom: 2.5rem;

	}

	address {
		color: $dark-gray;
		line-height: 1.75;
		font-style: normal;

		@include breakpoint(small only) {
			margin-bottom: 2rem;
		}

		strong {
			color: $blue-dark;
			font-size: 1.4rem;
			font-weight: 900;
		}
		a {
			display: block;
		}
	}
}
