.article-row {
	figure {
		position: relative;
		padding: 0;
		font-family: 'axis', 'Helvetica Neue', sans-serif;

		img {
			width: 100%;
		}
		figcaption {
			color: white;
			width:90%;
			font-family: 'axis', 'Helvetica Neue', sans-serif;
			font-size: 18px;
			text-align: center;
			text-transform: uppercase;

			@include absolute-center;

			@include breakpoint(medium) {
				font-size: 30px;
				width:66%;
			}
		}
	}
	.section-content {
		position: relative;

		.article-row-content {
			width: 100%;
			margin: 0 auto;

			@include breakpoint(medium) {
				width:66%;
			}
			@include breakpoint(medium down) {
				padding: 5rem 0;
				text-align: center;
			}
			@include breakpoint(small only) {
				padding: 4rem 0;
				text-align: center;
			}

			p {
				font-size: 1.1rem;
				color: $blue-gray;

				@include breakpoint(small only) {
					font-size: .8rem;
				}
			}

			&.wider {
				@include breakpoint(medium) {
					width: 85%;
				}
			}

			.button {
				margin-top: 2rem;

				@include breakpoint(small only) {
					width: 100%;
				}
			}
		}
	}
}
.article-icon {

	@include breakpoint(medium) {
		margin-bottom: 2rem;
	}
	@include breakpoint(small only) {
		margin-bottom: 1rem;
		width: 50%;
		height: auto;
	}
}