.services-list {
	padding: 8rem 0 4rem 0;

	section {
		margin-bottom: 4rem;

		h2 {
			line-height: 1;
			margin-bottom: 0;
		}
		.service-meta {
			display: block;
			color: lighten($blue-gray, 15%);
			margin-bottom: 1rem;
			font-family: 'axis', 'Helvetica Neue', sans-serif;
		}
		p {
			font-size: 1.1rem;
			color: $blue-gray;
		}
		a {
			font-size: 1.2rem;
			
			&:hover {
				text-decoration: underline;
			}
		}
	}
}