.alert_info, .alert_success, .alert_warning, .alert_error {
	border-radius: 3px;
	line-height: 1.5;
	padding: .75rem 1rem;
	margin-top: 1rem;
}
.alert_info {
	color: #00529B;
	background-color: #BDE5F8;
}
.alert_success {
	color: #4F8A10;
	background-color: #DFF2BF;
}
.alert_warning {
	color: #9F6000;
	background-color: #FEEFB3;
}
.alert_error {
	color: #D8000C;
	background-color: #FFBABA;
}
.alert_info i, .alert_success i, .alert_warning i, .alert_error i {
	font-size: 2em;
	vertical-align: middle;
}