.button {
	background: $blue-dark;
	border: none;
	border-radius: 8px;
	padding: 1rem 2rem;
	line-height: 1;
	height: initial;
	font-family: 'axis', 'Helvetica Neue', sans-serif;
	font-size: .8rem;

	@include breakpoint(large) {
		font-size: 1.2rem;
	}

	&:not(.outline) {
		-webkit-box-shadow: inset 0px -3px 0px 0px rgba(0,0,0,0.25);
		-moz-box-shadow: inset 0px -3px 0px 0px rgba(0,0,0,0.25);
		box-shadow: inset 0px -3px 0px 0px rgba(0,0,0,0.25);
	}
	&:hover {
		background-color: $blue-darker;
	}

	&.orange {
		background-color: $orange;

		&:hover {
			background-color: $orange-dark;
		}
	}

	&.outline {
		background: transparent;
		color: $orange;
		border: 3px solid $orange;

		&:hover {
			background-color: $orange;
			color: white;
		}
	}

	+ .button {
		margin-left: 0;

		@include breakpoint(medium) {
			margin-left: 1rem;
		}
	}
}
