
@font-face {
	font-family: 'axis';
	src: url('../fonts/axis/axis_extrabold-webfont.woff2') format('woff2'),
		url('../fonts/axis/axis_extrabold-webfont.woff') format('woff'),
		url('../fonts/axis/axis_extrabold-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}




@font-face {
	font-family: 'nexa';
	src: url('../fonts/nexa/nexa_bold-webfont.woff2') format('woff2'),
		url('../fonts/nexa/nexa_bold-webfont.woff') format('woff'),
		url('../fonts/nexa/nexa_bold-webfont.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'nexa';
	src: url('../fonts/nexa/nexa_light-webfont.woff2') format('woff2'),
		url('../fonts/nexa/nexa_light-webfont.woff') format('woff'),
		url('../fonts/nexa/nexa_light-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}