.full-width {
	max-width: 100%;
}
.margin-bottom-1 {
	margin-bottom: 1rem;
}
.margin-bottom-2 {
	margin-bottom: 2rem;
}
.margin-bottom-3 {
	margin-bottom: 3rem;
}
.margin-bottom-4 {
	margin-bottom: 4rem;
}