<script>
  import Navbar from './Navbar.vue'
  import MainFooter from './MainFooter.vue'

  export default {
    name: "app",

    components: {
      Navbar,
      MainFooter
    }
  }
</script>

<template>
  <div>
    <navbar></navbar>
    <router-view></router-view>
    <main-footer></main-footer>
  </div>
</template>