<script>
  export default {
    data: function() {
      return {
          formData: {
              service: (typeof this.$route.query.service !== "undefined")? this.$route.query.service: "",
              full_name: "",
              email: "",
              company: "",
              phone: "",
              timeframe: "",
              budget: "",
              description: ""
          },
          formSubmitButton: 1,
          formResponse: null,
          formResponseType: null
      }
    },
    methods: {
      formSubmit: function (e) {
          this.formSubmitButton = 0;
          var submitData = JSON.stringify(this.formData);
          this.$http.get("/amazon_ses_phpmailer/send_mail.php", {params: {
              formData: submitData
          }})
            .then(response => {
                // success
                this.formResponse = "Message Sent Successfully";
                this.formResponseType = "alert_success";
                this.formSubmitButton = 1;
            }, response => {
                // error
                this.formResponse = "There was a problem sending your message";
                this.formResponseType = "alert_error";
                this.formSubmitButton = 1;
            });
      }
    }
  }

</script>

<template>
  <main>
    <header id="mainHeader">
      <div class="hero-content">
        <div class="row align-center">
          <div class="small-12 columns">
            <h1>Let's Work Together</h1>
          </div>
        </div>
        <div class="row align-center">
          <div class="small-12 medium-10 large-8 columns">
            <p>We can't wait to hear from you! Let us know below how we can help you grow your business.</p>
          </div>
        </div>
      </div>
    </header>

    <div id="contentStart" class="row align-center">
      <div class="small-12 large-8 columns">
        <form id="contactForm" v-on:submit.prevent="formSubmit">
          <div class="row">
            <div class="small-12 columns">
              <label for="service_consultation">Select Starting Service</label>
            </div>
          </div>
          <div class="row">
            <div class="small-6 medium-3 columns">
              <input role="radiogroup" aria-label="Consulation Services" class="service-select" type="radio" name="service" id="service_consultation" value="consultation"
                     :checked="formData.service==='consultation'"
                     v-model="formData.service">
              <label for="service_consultation">
                <img src="/images/icons/lightbulb.png" alt="consultation service icon" />
                <span>Consultation</span>
              </label>
            </div>
            <div class="small-6 medium-3 columns">
              <input role="radiogroup" aria-label="Design Services" class="service-select" type="radio" name="service" id="service_design" value="design"
                     :checked="formData.service==='design'"
                     v-model="formData.service">
              <label for="service_design">
                <img src="/images/icons/pen.png" alt="design service icon" />
                <span>Design</span>
              </label>
            </div>
            <div class="small-6 medium-3 columns">
              <input role="radiogroup" aria-label="Development Services" class="service-select" type="radio" name="service" id="service_development" value="development"
                     :checked="formData.service==='development'"
                     v-model="formData.service">
              <label for="service_development">
                <img src="/images/icons/coding.png" alt="development service icon" />
                <span>Development</span>
              </label>
            </div>
            <div class="small-6 medium-3 columns">
              <input role="radiogroup" aria-label="Maintenance Services" class="service-select" type="radio" name="service" id="service_maintenance" value="maintenance"
                     :checked="formData.service==='maintenance'"
                     v-model="formData.service">
              <label for="service_maintenance">
                <img src="/images/icons/setting.png" alt="maintenance service icon" />
                <span>Maintenance</span>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="small-12 medium-6 columns">
              <label>Full Name*
                <input type="text" name="full_name" v-model="formData.full_name" required />
              </label>
            </div>
            <div class="small-12 medium-6 columns">
              <label>Email Address*
                <input type="email" name="email" v-model="formData.email" required />
              </label>
            </div>
          </div>
          <div class="row">
            <div class="small-12 medium-8 columns">
              <label>Organization Name
                <input type="text" name="company" v-model="formData.company" />
              </label>
            </div>
            <div class="small-12 medium-4 columns">
              <label>Phone Number
                <input type="text" name="phone" v-model="formData.phone" />
              </label>
            </div>
          </div>
          <div class="row">
            <div class="small-12 medium-6 columns">
              <label>Date or Timeframe
                <input type="text" name="timeframe" v-model="formData.timeframe" placeholder="09/23/2020 or 4 months" />
              </label>
            </div>
            <div class="small-12 medium-6 columns">
              <label>Budget
                <select name="budget" v-model="formData.budget">
                  <option value="">Select a budget</option>
                  <option value="Below $25,000">Below $25,000</option>
                  <option value="$25,000-$50,000">$25,000-$50,000</option>
                  <option value="$50,000-$100,000">$50,000-$100,000</option>
                  <option value="$100,000-$250,000">$100,000-$250,000</option>
                  <option value="$250,000-$500,000">$250,000-$500,000</option>
                  <option value="Above $500,000">Above $500,000</option>
                </select>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns">
              <label>Short Description of Needs*
                <textarea name="description" v-model="formData.description" required></textarea>
              </label>

              <button v-if="formSubmitButton===1" type="submit" class="button outline">Get Started</button>

              <div id="response" v-bind:class="formResponseType">
                {{ formResponse }}
              </div>

            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="contact-info">
      <div class="row align-center">
        <div class="small-12 columns text-center">
          <h4>We have contacts coast-to-coast</h4>
        </div>
      </div>
      <div class="row align-center">
        <div class="small-12 medium-4 large-3 columns">
          <address class="text-center">
            <strong>Phoenix, AZ</strong><br>
            Curtis Wolfenberger<br>
            <a href="tel:+16027538140">(602) 753-8140</a>
            <a href="mailto:curtis@sidebardev.com">curtis@sidebardev.com</a>
          </address>
        </div>
        <div class="small-12 medium-4 large-3 columns">
          <address class="text-center">
            <strong>Warsaw, IN</strong><br>
            Bobbie Stump<br>
            <a href="tel:+15742535099">(574) 253-5099</a>
            <a href="mailto:bob@sidebardev.com">bob@sidebardev.com</a>
          </address>
        </div>
      </div>
    </div>
  </main>
</template>