<script>
    export default {
        name: "Cta"
    }
</script>

<template>
    <div class="cta">
        <div class="row align-center">
            <div class="small-12 large-5 columns">
                <h2>Get In Touch</h2>
                <p>We'll work with you to find the best solution for your business.</p>
                <router-link to="contact" class="button orange">Get In Touch</router-link>
                <router-link to="services" class="button" v-if="this.$route.path !== '/services'">Our Services</router-link>
            </div>
        </div>
    </div>
</template>