<script>
    import Cta from './Cta.vue';

    export default {

        components: {
            Cta
        }
    }
</script>

<template>
    <main>
        <header id="mainHeader">
            <div class="hero-content">
                <div class="row align-center">
                    <div class="small-12 columns">
                        <h1>We build stunning<br />websites &amp; web applications</h1>
                    </div>
                </div>
                <div class="row align-center">
                    <div class="small-12 medium-10 large-8 columns">
                        <p>We're a team of passionate web professionals who boost brands and propel businesses through high-end websites and web applications.</p>
                    </div>
                </div>
                <div class="row align-center">
                    <div class="small-12 columns">
                        <router-link to="services">See what we can do for you</router-link>
                    </div>
                </div>
            </div>
            <div class="service-logos"><img src="/images/logos.png" alt="Laravel - WordPress - MySQL - PHP - Angular - Vue - React" /></div>
        </header>
        <section id="contentStart" aria-labelledby="increaseSiteTraffic" class="row align-center-middle article-row full-width">
            <figure class="small-12 large-6 columns">
                <img src="/images/blurred-lights.jpg" alt="Increase Site Traffic">
                <figcaption id="increaseSiteTraffic">Increase site traffic &amp; acquire more users</figcaption>
            </figure>
            <div class="section-content small-12 large-6 columns">
                <div class="article-row-content">
                    <p>Our web sites and applications are built using the best Search Engine Optimization tactics available. This means you'll rank higher in search results and more people will find your site.</p>
                    <router-link :to="{ path: 'contact', query: { service: 'consultation' } }" class="button outline">Get More Users</router-link>
                </div>
            </div>
        </section>
        <section aria-labelledby="decreaseBounceRates" class="row align-center-middle article-row full-width">
            <figure class="small-12 large-6 large-order-2 columns">
                <img src="/images/woman-looking-phone.jpg" alt="Improve Performance">
                <figcaption id="decreaseBounceRates">Decrease bounce rates by increasing performance and decreasing load times</figcaption>
            </figure>
            <div class="section-content small-12 large-6 large-order-1 columns">
                <div class="article-row-content text-center wider">
                    <div class="row">
                        <div class="large-4 columns">
                            <img class="article-icon" src="/images/icons/clock.png" alt="Clock icon">
                            <p>47% of users expect a website to load in less than 2 seconds.</p>
                        </div>
                        <div class="large-4 columns">
                            <img class="article-icon" src="/images/icons/out.png" alt="Out icon">
                            <p>40% of users abandon a website that takes longer than 3 seconds to load.</p>
                        </div>
                        <div class="large-4 columns">
                            <img class="article-icon" src="/images/icons/user.png" alt="User icon">
                            <p>52% of users state that fast websites are important to site loyalty</p>
                        </div>
                    </div>
                    <router-link :to="{ path: 'contact', query: { service: 'development' } }" class="button outline">Increase Site Performance</router-link>
                </div>
            </div>
        </section>
        <section aria-labelledby="stayAheadComp" class="row align-center-middle article-row full-width">
            <figure class="small-12 large-6 columns">
                <img src="/images/abstract-architecture.jpg" alt="Stay Ahead of the Competition">
                <figcaption id="stayAheadComp">Stay Ahead of the Competition</figcaption>
            </figure>
            <div class="section-content small-12 large-6 columns">
                <div class="article-row-content">
                    <p>At Sidebar Development, we use the latest and greatest web technologies to keep our partners on the forefront of innovation. Get in touch now to see what we can do for you.</p>
                    <router-link :to="{ path: 'contact', query: { service: 'consultation' } }" class="button outline">Innovate with us</router-link>
                </div>
            </div>
        </section>

        <cta></cta>
    </main>
</template>