<script>
    export default {
        name: "Footer"
    }
</script>

<template>
    <footer id="mainFooter">
        <div class="footer-top">
            <div class="row align-justify align-center-middle">
                <div class="small-6 medium-3 large-2 columns">
                    <img src="/images/sidebar-logo-white.png" alt="Sidebar Development, LLC Logo" />
                </div>
                <div class="small-12 medium-9 large-10 columns">
                    <nav aria-label="Footer navigation">
                        <ul>
                            <li><router-link to="/">home</router-link></li>
                            <li><router-link to="services">services</router-link></li>
                            <li><router-link to="contact">contact</router-link></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="row column">&copy; {{ new Date().getFullYear() }} Sidebar Development, LLC</div>
        </div>
    </footer>
</template>