<script>
  export default {
    name: "Navbar"
  }
</script>

<template>
    <div id="mainNav" role="banner">
        <div class="row align-justify align-middle">
            <div class="small-12 medium-4 large-2 columns">
                <img src="/images/sidebar-logo-white.png" alt="Sidebar Development, LLC Logo" />
            </div>
            <div class="small-12 medium-8 large-10 columns">
                <nav aria-label="Main header navigation">
                    <ul>
                        <li class="show-for-sr"><a href="#contentStart" class="skip">Skip to main content</a></li>
                        <li><router-link to="/">Home</router-link></li>
                        <li><router-link to="services">Services</router-link></li>
                        <li><router-link to="contact">Contact</router-link></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</template>