<script>
    import Cta from './Cta.vue';

    export default {

        components: {
            Cta
        }
    }
</script>

<template>
    <main>
        <header id="mainHeader">
            <div class="hero-content">
                <div class="row align-center">
                    <div class="small-12 columns">
                        <h1>Our Expertise</h1>
                    </div>
                </div>
                <div class="row align-center">
                    <div class="small-12 medium-10 large-8 columns">
                        <p>We're proficient in an array of services that are geared toward boosting your online presence and empowering your brand. We'll partner with you to build experiences that set you apart from the competition.</p>
                    </div>
                </div>
            </div>
        </header>

        <div id="contentStart" class="services-list">
            <div class="row">
                <section aria-label="Consultation" class="small-12 large-6 columns">
                    <div class="row">
                        <figure class="small-2 columns text-center">
                            <img class="service-icon" src="/images/icons/lightbulb.png" alt="Light bulb icon">
                        </figure>
                        <div class="small-10 columns">
                            <h2>Consultation</h2>
                            <span class="service-meta">planning &bull; direction &bull; assistance</span>
                            <p>We'll help you plan your new web application or website by assessing your needs and working with you to find the best solution for your business. We're dedicated to pushing our partners to success.</p>
                            <router-link :to="{ path: 'contact', query: { service: 'consultation' } }">Start with a consultation ></router-link>
                        </div>
                    </div>
                </section>
                <section aria-label="Design" class="small-12 large-6 columns">
                    <div class="row">
                        <figure class="small-2 columns text-center">
                            <img class="service-icon" src="/images/icons/pen.png" alt="Light bulb icon">
                        </figure>
                        <div class="small-10 columns">
                            <h2>Design</h2>
                            <span class="service-meta">creation &bull; ideation</span>
                            <p>After assessing and working with you to determine the best course of action for your needs, we'll design a product specifically for your business.</p>
                            <router-link :to="{ path: 'contact', query: { service: 'design' } }">Start with a new design ></router-link>
                        </div>
                    </div>
                </section>
            </div>
            <div class="row">
                <section aria-label="Development" class="small-12 large-6 columns">
                    <div class="row">
                        <figure class="small-2 columns text-center">
                            <img class="service-icon" src="/images/icons/coding.png" alt="coding icon">
                        </figure>
                        <div class="small-10 columns">
                            <h2>Development</h2>
                            <span class="service-meta">building &bull; coding &bull; programming</span>
                            <p>We can provide a wide range of web services including custom front-end and back-end development for websites and web applications, SEO and ADA compliance services, server and website deployment, and more.</p>
                            <router-link :to="{ path: 'contact', query: { service: 'development' } }">Start with development ></router-link>
                        </div>
                    </div>
                </section>
                <section aria-label="Maintenance" class="small-12 large-6 columns">
                    <div class="row">
                        <figure class="small-2 columns text-center">
                            <img class="service-icon" src="/images/icons/setting.png" alt="gear icon">
                        </figure>
                        <div class="small-10 columns">
                            <h2>Maintenance</h2>
                            <span class="service-meta">support &bull; cleanup</span>
                            <p>After development we can determine a maintenance plan that best suits your business or organization. This will allow us to dedicate resources specifically for you for the long haul as an ongoing partner.</p>
                            <router-link :to="{ path: 'contact', query: { service: 'maintenance' } }">Start with a maintenance plan ></router-link>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <cta></cta>
    </main>
</template>