.cta {
	background-color: $blue-gray;
	color: white;
	padding: 4rem 0;
	text-align: center;

	h2 {
		color: white;
		margin: 0;
		padding: 0;
		line-height: 1;
	}
	p {
		color: white;
		font-weight: bold;
		font-size: 1.2rem;
		margin: 2rem 0
	}
	.button {
		padding: 1.25rem 2rem;
		font-weight: normal;
		font-size: 1.1rem;

		@include breakpoint(small only) {
			width: 100%;
		}
	}
}
