#mainFooter {
	background-color: $black;

	.footer-top {
		padding: 3rem 0;

		nav {
			text-align: right;

			@include breakpoint(small only) {
				text-align: center;
				margin-top: 2rem;
			}

			ul {
				margin: 0;

				li {
					display: inline-block;
					margin-left: 1rem;

					a {
						display: block;
						color: $blue-gray;
						font-family: 'nexa', 'Helvetica Neue', sans-serif;
						font-size: 1.15rem;
						font-weight: bold;

						&:hover, &:focus,
						&.router-link-exact-active {
							color: $white;
						}
					}
				}
			}
		}
	}
	.copyright {
		background-color: #232b2f;
		padding: 2rem 0;
		color: $dark-gray;
		font-size: 20px;

		@include breakpoint(small only) {
			text-align: center;
		}
	}
}
