#mainHeader {
	background: $orange;
	color: $white;
	text-align: center;

	.hero-content {
		padding: 1rem 0 4rem 0;

		@include breakpoint(medium) {
			padding: 6rem 0 6rem 0;
			font-size: 22px;
		}
	}
	h1 {
		line-height:1;
		margin-bottom: 2rem;
	}
	p {
		font-weight: normal;
	}
	a {
		color: $white;
		text-decoration: underline;
		font-weight: bold;

		&:hover {
			color: rgba(255,255,255,0.75);
		}
	}
	p:not(:last-child) {
		margin-bottom: 1.5rem;
	}
	.service-logos {
		padding: 2rem 1rem;

		@include breakpoint(small only) {
			display: none;
		}
	}
}