#mainNav {
	background: $orange;
	padding: 2rem 0 ;

	@include breakpoint(medium) {
		padding: 2rem 0;
		font-size: 22px;
	}

	img {
		@include breakpoint(small only) {
			display: block;
			width: 100px;
			margin: 0 auto;
		}
	}
	
	nav {
		text-align: right;

		@include breakpoint(small only) {
			text-align: center;
			margin-top: 2rem;
		}

		ul {
			margin: 0;
			
			li {
				display: inline-block;
				margin-left: 1rem;
				
				a {
					display: block;
					color: #ffb7a0;
					font-family: 'axis', 'Helvetica Neue', sans-serif;
					font-size: .75rem;

					@include breakpoint(medium) {
						font-size: 1rem;
					}

					&:hover, &:focus,
					&.router-link-exact-active {
						color: $white;
					}
				}
			}
		}
	}

}
